html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.logo{
    height: 50px;
}

.navbar-brand{
    padding: 0 !important;
    line-height: 14px !important;
}

.glyphicon .glyphicon-eye-open{
    color: #000000 !important;
}

.search-table > div > label{
    margin-right: 10px !important;
}

.search-table{
    display: inline-block;
    float: right;
}

#usuarios_length, #direcciones_length{
    display: inline-block;
}
/************** CHAT **********/

#custom-search-input {
    background: #e8e6e7 none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}
#custom-search-input .search-query {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 4px;
    height: 33px;
    margin-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
}
#custom-search-input button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #666666;
    left: auto;
    margin-bottom: 0;
    margin-top: 7px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    z-index: 9999;
}
.search-query:focus + button {
    z-index: 3;
}
.all_conversation button {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    height: 38px;
    text-align: left;
    width: 100%;
}
.all_conversation i {
    background: #e9e7e8 none repeat scroll 0 0;
    border-radius: 100px;
    color: #636363;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.all_conversation .caret {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
}
.all_conversation .dropdown-menu {
    background: #f5f3f3 none repeat scroll 0 0;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
}
.all_conversation ul li {
    border-bottom: 1px solid #dddddd;
    line-height: normal;
    width: 100%;
}
.all_conversation ul li a:hover {
    background: #dddddd none repeat scroll 0 0;
    color:#333;
}
.all_conversation ul li a {
    color: #333;
    line-height: 30px;
    padding: 3px 20px;
}
.member_list .chat-body {
    margin-left: 47px;
    margin-top: 0;
}
.top_nav {
    overflow: visible;
}
.member_list .contact_sec {
    margin-top: 3px;
}
.member_list li {
    padding: 6px;
}
.member_list ul {
    /*border: 1px solid #dddddd;*/
}
.chat-img img {
    height: 34px;
    width: 34px;
}
.member_list li {
    border-bottom: 1px solid #dddddd;
    padding: 6px;
}
.member_list li:last-child {
    border-bottom:1px solid #ddd;
}
.member_list {
    height: 460px;
    overflow-x: hidden;
    overflow-y: auto;
}
.member_list_head p{
    margin-bottom: 13px;
    margin-top: 13px;
    margin-left: 15px !important;
}
.sub_menu_ {
    background: #e8e6e7 none repeat scroll 0 0;
    left: 100%;
    max-width: 233px;
    position: absolute;
    width: 100%;
}
.sub_menu_ {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    margin-left: 0;
    max-width: 233px;
    position: absolute;
    top: 0;
    width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
    display: block;
}
.new_message_head button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.new_message_head {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 10px;
    width: 100%;
}
.chat_container{
    margin: 20px;
}

.member_list_head{
    background: #f5f3f3 none repeat scroll 0 0;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 5px;
    width: 100%;
}
.message_section,
.chat_sidebar{
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}
.chat_area {
    float: left;
    height: 312px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.chat_area li {
    padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
    height: 40px;
    width: 40px;
}
.chat_area .chat-body1 {
    margin-left: 50px;
}
.chat-body1 p {
    background: #fbf9fa none repeat scroll 0 0;
    padding: 10px;
}
.chat_area .admin_chat .chat-body1 {
    margin-left: 0;
    margin-right: 50px;
}
.chat_area li:last-child {
    padding-bottom: 10px;
}
.message_write {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}

.message_write textarea.form-control {
    height: 70px;
    padding: 10px;
}
.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}
.upload_btn {
    color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
    float: left;
    width:100%;
}
.member_list li:hover {
    background: #428bca none repeat scroll 0 0;
    color: #fff;
    cursor:pointer;
}
.pager{
    text-align: center;
    margin: 1em 0;
}
.pager span{
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}
div.pager span.active {
    background: #005CA9;
}

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
.bs-callout-success{
    background-color: #f2f9f3;
    border-color: #b3ddb8;
}

.loading.small-box.bg-green {
    /*width: 100%;*/
    /*min-height: inherit;*/
    /*z-index: 50;*/
    background: rgba(0,166,90,0.3) !important;
    /*   border-radius: 3px; */
    /*content: " ";*/
    /*position: absolute;*/
}

.loading.small-box > .icon i{
    display: none;
}

.loading.small-box > .icon:after {
    position: absolute;
    margin-top: 20px;
    margin-left: -1em;
    content: "\f021";
    font: normal normal normal 0.8em/1 FontAwesome;
    webkit-animation: fa-spin 1.3s infinite linear;
    animation: fa-spin 1.3s infinite linear;
    z-index: 999;
    color: #555;
}

.table-spinner{
    text-align: center;
}

.spinner {
    width: 15%;
}

#direccion > a:hover,
#usuario > a:hover {
    cursor: pointer;
}

/*aside{
    display: none;
}*/